<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.wjh.permission.domain.permission.dao.PermissionMapper">

    <sql id="Base_Column_List">
        id, pid, name, value, type, uri, status, create_time
    </sql>

    <sql id="tableName">
        permission
    </sql>

    <sql id="relationTableName">
        role_permission_relation
    </sql>

    <select id="findByRole" resultType="priv.wjh.permission.domain.permission.po.PermissionPojo">
        select p.*
        from
        <include refid="relationTableName"/>
        rpr left join
        <include refid="tableName"/>
        p on rpr.permission_id = p.id
        where rpr.role_id = #{id}
    </select>

    <select id="find" resultType="priv.wjh.permission.domain.permission.po.PermissionPojo">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <where>
            <trim suffixOverrides="and">
                <if test="id != null">
                    id = #{id} and
                </if>
                <if test="name != null">
                    name like concat(concat('%',#{name,jdbcType=VARCHAR}),'%') and
                </if>
                <if test="value != null">
                    value like concat(concat('%',#{value,jdbcType=VARCHAR}),'%') and
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=TINYINT} and
                </if>
                <if test="uri != null">
                    uri like concat(concat('%',#{uri,jdbcType=VARCHAR}),'%') and
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT} and
                </if>
                <if test="createTime != null">
                    create_time > #{createTime,jdbcType=TIMESTAMP} and
                </if>
            </trim>
        </where>

    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            pid,
            name,
            <if test="value != null">
                value,
            </if>
            <if test="uri != null">
                uri,
            </if>
            type,

            status,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            #{name,jdbcType=VARCHAR},
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="uri != null">
                #{uri,jdbcType=VARCHAR},
            </if>
            #{type,jdbcType=TINYINT},
            #{status,jdbcType=TINYINT},
        </trim>
    </insert>

    <update id="update">
        update
        <include refid="tableName"/>
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="value != null">
                    value = #{value},
                </if>
                <if test="pid != null">
                    pid = #{pid},
                </if>
                <if test="type != null">
                    type = #{type},
                </if>
                <if test="uri != null">
                    uri = #{uri},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
            </trim>
        </set>
        where id = #{id}
    </update>

</mapper>