<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.wjh.permission.domain.permission.dao.RoleMapper">


    <sql id="Base_Column_List">
        id, name, description, create_time, status
    </sql>

    <sql id="tableName">
        role
    </sql>

    <sql id="relationTableName">
        user_role_relation
    </sql>

    <select id="findByUser" resultType="priv.wjh.permission.domain.permission.po.RolePojo">
        select r.*
        from
        <include refid="tableName"/>
        r left join
        <include refid="relationTableName"/>
        urr on r.id = urr.role_id
        where urr.user_id = #{id}
    </select>

    <select id="find" resultType="priv.wjh.permission.domain.permission.po.RolePojo">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <where>
            <trim suffixOverrides="and">
                <if test="id != null">
                    id = #{id} and
                </if>
                <if test="name != null">
                    name like concat(concat('%', #{name,jdbcType=VARCHAR}),'%') and
                </if>
                <if test="createTime != null">
                    create_time > #{createTime} and
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT} and
                </if>
            </trim>
        </where>
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into<include refid="tableName"/>(name, description, status)
        values(#{name}, #{description}, #{status})
    </insert>

    <update id="update">
        update
        <include refid="tableName"/>
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
            </trim>
        </set>
        where id = #{id}
    </update>

</mapper>